<h4> <%=current_user.fullname %>, you have logged a total of <%=@current_total_mins %> practice minutes. 
The class average is <%=@class_avg_total_mins %> practice minutes. </h4>
<br>
<p>  <strong> Your Practice Logs </strong> </p>
<p> ======================================================================================================== </p>

 
<% if @practice_logs.size == 0 %>
    <br>
    <p> You have no practice logs yet </p>
    <br>
<% else %>  
    
    <% @practice_logs.each do |log| %>
        <p><strong><%= log.date.strftime("%a, %b %e %Y") %>  : </strong>Minutes Practiced: <%= log.practice_minutes %>  <a href="/practice_logs/<%=log.id%>">     Click to view notes/edit/delete    </a> </p>
        <br>
    <% end %>
 <%end %> 

<a href="/practice_logs/new"> <button type="button" class="btn">New Practice Log</button></a>
        
